.hidden {
    opacity: 0;
    filter: blur(4px);
    translate: 0 12px;
    transition: all;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
}

.show {
    opacity: 1;
    filter: blur(0px);
    translate: none;
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
